<div class="p-5" id="searchbox">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Quotes">
            <div class="form-check form-check-inline">
                <div *ngFor="let option of searchOptions" class="m-2">
                    <input type="radio" class="form-check-input" id="searchOption" name="{{option.name}}">
                    <label for="">{{option | titlecase}}</label>
                </div>
            </div>
        </div>
        <button class="btn form-control">Search</button>
    </form>
</div>