/* You can add global styles to this file, and also import other style files */

$color1:#F2F6D0;
$color2: #D0E1D4;
$color3: #D9D2B6;
$color4: #E4BE9E;
$color5: #71697A;
$color6: #B97864;


$theme-colors: (
  "primary": $color5,
  "danger": $color6,
  "info": $color3
);

body {
background-color: $color5;
}